@charset "UTF-8";

html {

    font-size: 62.5%;

    color-scheme: dark light;
}

:where(:root) {

    --text: light-dark(#050316, #ebe9fc);
    --background: light-dark(#fbfbfe, #010104);
    --primary: light-dark(#2f27ce, #3a31d8);
    --secondary: light-dark(#dddbff, #020024);
    --accent: light-dark(#443dff, #0600c2);

    --icon-size-sm: 1.4em;
    --icon-size-md: 2em;
    --icon-size-lg: 4em;

    --round-sm: .8rem;
    --round-md: 2rem;

    --spacing-sm: .4rem;
    --spacing-md: 2rem;
    --spacing-lg: 8rem;
}

*,
*::before,
*::after {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "system-ui";
    font-size: 1.6rem;
    line-height: 1.6;
}

img,
video {

    display: block;
    width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
}

form:invalid + button[type="submit"] {

    cursor: not-allowed;
    pointer-events: none;
    opacity: .5
}

.container {

    display: grid;
    place-content: center;
    justify-items: center;
    min-height: 100dvh;
    background-color: var(--background);
    color: var(--text);
}

/* CONTROLLER */

.controller__content {
    display: grid;
    align-items: center;

    width: 100%;
    border-radius: var(--round-sm);

    margin: 0 auto;

    padding: var(--spacing-sm);
}

.controller,
.controller-functionality {

    width: 100%;
    min-height: 8dvh;
}

.controller__list {

    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: var(--spacing-sm)
}

.controller__item,
.controller__item--selected {

    width: 50%;
    flex: 1;
    text-align: center;

    cursor: pointer;
    border-radius: calc(var(--round-sm) - var(--spacing-sm));
}

.btn {

    width: 100%;
    font-size: 1.2em;
    padding-inline: var(--spacing-sm);
    padding-block: 1.6rem;
    padding-inline: .8rem;
    border-radius: var(--round-sm);
    cursor: pointer;
    border: none;
    transition: opacity .4s ease-in;

    &:focus {

        border: .1rem var(--accent) solid;
    }

    &:hover {

        opacity: .6
    }
}

.generate-document,
.validate-document {

    gap: 4rem;
}

.btn--active {

    background-color: var(--primary);
    padding-block: 1.8rem;
}


/*FILE INPUT*/

.file-input__label {
    display: grid;
    width: 100%;
    place-content: center;
    cursor: pointer;
    border: var(--primary) dotted .1rem;
    border-radius: var(--round-sm);
    padding: var(--spacing-lg);

    &:hover {

        background-color: var(--primary);
    }
}

.file-input__input {

    display: none;
    opacity: 0;
}

.file__input__icon {

    display: block;
    width: var(--icon-size-lg);
    height: var(--icon-size-lg);
    margin: 0 auto;
    background-image: url("../img/upload_file.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

[data-showing="false"] {

    display: none;
    visibility: hidden
}

[data-showing="true"] {

    display: grid;
}

.footer {

    width: 100%;
    align-self: end;
}